<div class="input-group">
    <span class="input-group-btn">
      <button [ngClass]="btnClass" (click)="cambiarValor(-5)" type="button">
        <i class="fa fa-minus"></i>
      </button>
    </span>
    <input type="text" class="form-control" [ngClass]="{'is-invalid': progress > 100 || progress < 0 }" placeholder="Product" min="0" max="100"
    [(ngModel)]="progress" (ngModelChange)="onChange($event)">
    <span class="input-group-btn">
      <button [ngClass]="btnClass"  (click)="cambiarValor(5)" type="button">
        <i class="fa fa-plus"></i>
      </button>
    </span>
</div>  